body.theme-light {
    background-color: rgb(75, 62, 62);
    color: rgb(245, 239, 239);
}

body.theme-dark {
    background-color: rgb(91, 88, 88);
    color: white;
}

body.theme-colorful {
    background-color: #524f46;
    color: #e5e9ed;
}

.list-group-horizontal {
    display: flex;
    flex-direction: row;
}